nav {
  background-color: $primary-colour;

  ul {
    margin: 0;
  }
  a {
    color: $light-font;
    &:hover {
      color: $secondary-colour;
    }
  }
}

.navbar {
  height: $navbar-height;
  padding-left: $navbar-container;
  padding-right: $navbar-container;
  .link-container {
    width: 100%;
    li {
      float: right;
      a {
        padding-right: 15px;
        &:last-child {
          padding: 0;
        }
      }
    }
  }
  .hamburger,
  .hamburger--collapse {
    position: fixed;
    background-color: black;
    display: flex;
    padding: 10px;
    padding-top: 17px;
    padding-bottom: 18px;
    border-radius: 140px;
    z-index: 10000000;
    border: none;
    &:focus {
      outline: none;
    }
    .hamburger-box {
      display: flex;
      justify-content: center;
      .hamburger-inner {
        background-color: $burger-menu-colour;
        width: $burger-width;
        display: block;
        border-radius: 0;

        &::before {
          background-color: $burger-menu-colour;
          width: $burger-width;
          border-radius: 0;
        }
        &::after {
          background-color: $burger-menu-colour;
          width: $burger-width;
          border-radius: 0;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .navbar {
    padding: $navbar-container / 3;
  }
}
