.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 50px;
    background-color: $primary-colour;
    p {
        color: $light-font;
    }
    .copyright {
        position: relative;
        bottom: 0;
    }
}