.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .banner-content {
    position: absolute;
    * {
      color: $banner-font-colour;
    }
  }
}
.banner-content-mobile {
  background-color: black;
  padding-top: $buffer;
  padding-bottom: $buffer;
  * {
    color: $banner-font-colour;
  }
}
