/* Add custom fonts here */

//Global Variables

//Colour Schemes

$font-content-colour: white;
$banner-font-colour: white;
$block-font-colour: white;
$ribbon-font-colour: white;

$primary-colour: black;
$secondary-colour: orange;
$dark-font: black;
$light-font: white;
$panel-font-colour: white;

//Font Sizing

$p: 18px;
$heading1: 3rem;
$heading2: 2.5rem;
$heading3: 2rem;
$letter-spacing: -0.04em;
$mobile-divider: 1.2;

//Spacing

$buffer: 30px;
$text-padding: 10px;
$navbar-container: 50px;
$navbar-height: 80px;

//Hamburger params

$burger-menu-colour: white;
$burger-width: 30px;

// Mixins, repeatable code.

@mixin a-styling {
  text-decoration: none;
  font-size: 3rem;
  line-height: 60px;
  padding: 0;
  &:hover {
    color: $secondary-colour;
  }
}

@import "./templates/navbar/navbar.scss";

@import "./templates/footer/footer.scss";

//Remove these SCSS imports if not used.

@import "./templates/mediaGrid/imageGrid.scss";

@import "./templates/banner/banner.scss";

@import "./templates/ribbon/ribbon.scss";

@import "./templates/sidebar/sidebar.scss";

@import "./templates/block/block.scss";

@import "./templates/panel/panel.scss";

//Fonts

@font-face {
  font-family: "Neue Haas Unica Pro";
  src: url("/fonts/aaa2c11e-e459-43b4-8ad2-8c7c1de5c4e3.eot?#iefix");
  src: url("/fonts/aaa2c11e-e459-43b4-8ad2-8c7c1de5c4e3.eot?#iefix")
      format("eot"),
    url("/fonts/773f22a7-9bd8-48bf-8331-9f3b52306ac2.woff2") format("woff2"),
    url("/fonts/60bebbcf-ba00-4ac4-ad6b-a350fd1903bf.woff") format("woff"),
    url("/fonts/7e3bd97a-acff-4781-9d63-80f4111a637e.ttf") format("truetype");
}

// Main styling, effects the whole website.
* {
  font-family: "Neue Haas Unica Pro" !important;
  letter-spacing: $letter-spacing;
  line-height: 24px;
}
html {
  background-color: black;
  margin: 0;
}
a {
  text-decoration: none;
  * {
    &:hover {
      color: $secondary-colour;
    }
  }
  &:hover {
    text-decoration: none;
  }
}

p {
  font-size: $p;
  padding-top: $text-padding;
  padding-bottom: $text-padding;
  b {
    padding-top: $text-padding;
    padding-bottom: $text-padding;
  }
}
.btn-documentation {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 10px;
  border-radius: 0;
  width: 100%;
  &:hover,
  &:focus,
  &:active {
    background-color: $secondary-colour;
    border-color: $secondary-colour;
    outline: $secondary-colour;
    box-shadow: 0 0 0 0.2rem $secondary-colour;
  }
}
.documentation-sidebar {
  border: 1px solid grey;
  height: 100vh;
  position: sticky;
  top: 0;
  a {
    display: block;
    font-size: 18px;
  }
}
h1 {
  font-size: $heading1;
}
h2 {
  font-size: $heading2;
}
h3 {
  font-size: $heading3;
}
h1,
h2,
h3,
h4 {
  padding-top: $text-padding;
  padding-bottom: $text-padding;
  margin: 0;
}

.buffer {
  margin-top: $buffer;
  margin-bottom: $buffer;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.breaker {
  margin-top: $buffer;
  margin-bottom: $buffer;
  border-bottom: 1px solid black;
  width: 100%;
}

.breaker-thin {
  margin-top: $buffer / 2;
  margin-bottom: $buffer / 2;
  border-bottom: 1px solid black;
  width: 100%;
}
.slice-quarter-right {
  width: 25%;
  float: right;
}
.slice-quarter {
  width: 25%;
}
.slice-half-right {
  width: 50%;
  float: right;
}
.slice-half {
  width: 50%;
}
.slice-third-right {
  width: 70%;
  float: right;
}
.slice-third {
  width: 70%;
}

//Main  styling responsive.

// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) {
  .mobile-hide {
    display: none !important;
  }
  .mobile-show {
    display: block !important;
  }

  h1 {
    font-size: $heading1 / $mobile-divider;
  }
  h2 {
    font-size: $heading2 / $mobile-divider;
  }
  h3 {
    font-size: $heading3 / $mobile-divider;
  }
  p {
    font-size: $p / $mobile-divider;
  }
  .slice-quarter-right {
    width: 100%;
  }
  .slice-quarter {
    width: 100%;
  }
  .slice-half-right {
    width: 100%;
  }
  .slice-half {
    width: 100%;
  }
  .slice-third-right {
    width: 100%;
  }
  .slice-third {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {
}

// Large devices (desktops, 992px and down)
@media (max-width: 992px) {
}
// Extra large devices (large desktops, 1200px and down)
@media (max-width: 1200px) {
  .desktop-show {
    display: block;
  }
  .desktop-hide {
    display: none;
  }
  .mobile-show {
    display: hide;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .desktop-show {
    display: block;
  }
  .desktop-hide {
    display: none;
  }
  .mobile-show {
    display: hide;
  }
}

//Aniamtions

.transitions-item {
  overflow: visible;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 100px;
}
