.sidebar-container {
  left: 0;
  top: 0;
  position: fixed;
  background-color: black;
  height: 100vh;
  width: 50vw;
  z-index: 100000;
  .sidebar-inner {
    padding: 10px;
    padding-left: $navbar-container;
    height: 100vh;
    padding-top: $navbar-height;
    a {
      * {
        @include a-styling;
      }
    }
    * {
      color: $font-content-colour;
    }
  }
}
@media (max-width: 576px) {
  .sidebar-container {
    width: 100vw;

    .sidebar-inner {
      padding-left: $navbar-container / 3;
    }
  }
}
